html{
    height: 100%;
}
body {
    background-image: url(/ani-bankai/images/fond_principal.png);  background-size: cover;
}
  

main {
    height: 100%;
}
.Overview {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    height: 100%;
    width: 100%;
    background-image: url(/ani-bankai/images/Demonslayer.png); background-size: cover;    
}

.title{
    font-size: 3em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    text-align: center;
    text-shadow: 0px 0px 4px black;
}

.blur{
    display: flex;
    justify-content: space-around;
    height: 50%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.769);

}

.anime{
    background-image: url(/ani-bankai/images/Demonslayerpp.png); background-size: cover;
    width: 20%;
    margin-top: 2%;
    margin-bottom: 2%;
    max-width: 260px;
}
