@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  height: 100%;
}

body {
  background-image: url(/ani-bankai/images/fond_principal.png);
  height: 100%;
  margin: 0;  
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  overflow-x: hidden;
  overflow-y: hidden
}

header {
  display: flex;
  justify-content: space-between;
  height: 30%;
  background-size: cover;
  width: 100%;
  backdrop-filter: blur(6px);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: rgba(57, 154, 209, 0.3);
  z-index: -1;
}

.profile {

  display: flex;
  align-items: center;
  margin-left: 12%;
  width: 80%;
  height: 100%;
}

.profile_picture {
  background-color: rgba(217, 217, 217, 1);
  width: 11vw;
  height: 11vw;
  border-radius: 100%;
  z-index: -1;
}

.profile_pseudo {
  margin: 2%;
}

.profile_badge {
  background-image: url(/ani-bankai/images/badge.png);
  background-size: cover;
  width: 5vw;
  height: 5vw;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 100%;
}

.img {
  width: 20%;
  height: 20%;
  background-image: url(/ani-bankai/images/menu-burger.png);
  background-size: cover;
}

/* main */

main{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: Arial, sans-serif;
  height: 70%;
}

/* container */

.left_container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 37%;
  height: 100%;
}

.right_container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 37%;
  height: 100%;
}

.perso_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 4%;
  height: 90%;
}

/* content left */

.bio {
  margin-top: 5%;
  background-color: #FFFFFF;
  width: 100%;
  height: 23%;
  border-radius: 10px;
  box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.5);
}

.left_category {
  margin-top: 5%;
  background-color: #FFFFFF;
  border-radius: 10px;
  display: flex;
  height: 4.7%;
  width: 100%;
}

.button_left {
  margin-left: 6%;
  background-color: #376ecd;
  border-radius: 8px;
  align-items: center;
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: 37%;
  box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.5);
}

/* content right */

.stat {
  margin-top: 5%;
  display: flex;
  width: 100%;
  height: 23%;
  border-radius: 10px;  
  justify-content: space-between;
}

.stat_anime_manga {
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  width: 46%;
} 

.stat_box {
  background-color: #00ffff;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: 32%;
  box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.5);
}

.list_like_info {
  background-color: #b64242;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  width: 75%;
  height: 30%;
}

.right_category {
  margin-top: 5%;
  background-color: #FFFFFF;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  height: 4.7%;
  width: 100%;
}

.button_right {
  background-color: #376ecd;
  border-radius: 8px;
  align-items: center;
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: 37%;
  box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.5);
}

/* both */

.info_bloc {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 44%;
}

.list_bloc {
  background-color: #ffffff;
  box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 30%;
}

.list_bloc_img{
  margin-left: 12px;
  background-image: url(/ani-bankai/images/Spice-and-wolf.png);
  background-size: cover;
  border: solid 4px #000000;
  border-radius: 8px;
  height: 60%;
  width: auto;
  aspect-ratio: 1 / 1; /* allows you to define the desired width-to-height ratio of an element's box. */
}

.list_bloc_title {
  background-color: aqua;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 40%;
  height: 60%;
}

.list_bloc_infos {
  background-color: aqua;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 40%;
  height: 100%;
}

.title_bloc {
  display: flex;
  align-items: center;
}

.title {
  font-family: 'Inter';font-size: 0.7rem;
  margin-right: 2px;
}

.name_anime {
  font-family: 'Inter';font-size: 0.7rem;
}

/* personnalisation */

.personnalisation {
  background-color: #ffffff;
  display: flex;
  width: 100%;
  height: 100%;
}