@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    overflow-x : hidden;
}

main {
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    width: 100%;
}

.banniere {
    background-image: url(/ani-bankai/images/Spice-and-wolf.png);
    position: absolute;
    background-size: cover;
    height: 300px;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.5;
}


/* cercle crayon */

.crayon {
    position: absolute;
    background-image: url(/ani-bankai/images/cercle.png);
    background-size: cover;
    width: 40px;
    height: 40px;
    top: 350px;
    right: 90px;
}

/* fin cercle crayon */

/* menu modif */

.input {
    position : absolute;
    top: 400px;
    right: 40px;
    display: flex;
    flex-direction: column;
    width: 120px;
    height: 185px;
    background-color: #022a68;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 10px;
    transition: 1s;
    opacity: 0.7;
    overflow: hidden;
  }
  
  .value {
    font-size: 13px;
    background-color: transparent;
    border: none;
    padding: 10px;
    color: white;
    display: flex;
    position: relative;
    gap: 5px;
    cursor: pointer;
    border-radius: 10px;
    transition: 1s;
    box-sizing: border-box;
  }
  
  .value:not(:active):hover,
  .value:focus {
    display: flex;
    box-sizing: border-box;
    border: 2px solid #aab6c7;
    opacity: 0.7;
    color: #ffffff;
  }
   
  .input:hover > :not(.value:hover) {
    transition: 100ms;
  }

/* fin menu modif */